*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titre h4{
    position: relative;
    text-transform: uppercase;
    font-size: 1.3rem;
    letter-spacing: 2px;
    font-weight: 600;
    font-style: italic;
}

.titre h4::before{
    position: absolute;
    content: '';
    width: 70px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #000000a8;
    bottom: -12px;
}

.titre h6{
    opacity: 0.7;
}

.paragraphe-2{
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
}