.logo{
    font-weight: 700;
    font-size: 1.3rem;
    font-style: italic;
}

.connecte{
    background-color: black;
    border-radius: 20px;
    outline: none;
    border: none;
}

.connecte:hover{
    background-color: whitesmoke;
    color: black;
    border: 1px solid;
    box-shadow: 0 0 5px;
    transition: all .3s ease-in-out;
}